<!DOCTYPE html>
<html>

{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>校园新鲜事 - 重置密码</title>
</head>

<body>
    <input type="hidden" value="{% block content %}{% for message in get_flashed_messages() %}{{ message }} {% endfor %} {% endblock %}" id="flash">
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="lockscreen-content">
        <div class="logo">
            <h1>重置密码</h1>
        </div>
        <div class="lock-box"><img class="img-circle user-image">
            {{ wtf.quick_form(form) }}
        </div>
    </section>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/plugins/bootstrap-notify.min.js')}}"></script>
<script src="/static/js/plugins/pace.min.js"></script>
<script src="/static/js/main.js"></script>
<script type="text/javascript">
if (document.getElementById("register") != null) {
    document.getElementById("toregister").click(function(event) {});
};

var val = document.getElementById("flash").value.replace(/(^\s*)|(\s*$)/g, "");

if (val != "") {
    $(document).ready(function() {
        $.notify({
            title: "提示:  ",
            message: val,
        }, {
            type: "info"
        });
    });



}
</script>

</html>