

#inputCode {
    width: 200px;
}

#checkCode {
    width: 25px;
}

.m-box {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

    .m-box p {
        margin: 0 0 10px;
    }

    .m-box .icn a {
        display: block;
        width: 55px;
        height: 35px;
        background: url('http://l.bst.126.net/rsc/img/weibo.png?035') no-repeat;
    }

    .m-box .icn .wb1 {
        background-position: 10px -216px;
    }

    .m-box .icn .wb2 {
        background-position: -190px -216px;
    }

    .m-box .icn .wb3 {
        background: url(http://l.bst.126.net/rsc/img/postshare/tieba24.png) 15px 0 no-repeat;
    }

    .m-box .icn .wb4 {
        background-position: -88px -215px;
    }

    .m-box .icn .wb5 {
        background-position: -138px -216px;
    }

    .m-box .icn .wb6 {
        background-position: -245px -216px;
    }

    .m-box .icn .wb7 {
        background-position: -300px -216px;
    }

    .m-box .icn .wb8 {
        background-position: -355px -216px;
    }

    .m-box .icn .wb9 {
        background-position: -415px -215px;
    }

.share-wrapper {
    padding-left: 13px;
    padding-right: 13px;
}

.article-wrapper .share-wrapper .share-wrapper-inner {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #ecedef;
}

.share-wrapper .share-wrapper-inner em {
    margin-right: 10px;
    line-height: 40px;
    color: #a4a4a4;
}

.body-text .article-wrapper .share-wrapper .share-wrapper-inner .share-list {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 42px;
    -moz-flex: 1 1 42px;
    -ms-flex: 1 1 42px;
    flex: 1 1 42px;
}

.body-text .article-wrapper .share-wrapper .share-wrapper-inner a {
    display: block;
}

.side-nav {
    display: block;
    margin: 0;
    padding: 0.875rem 0;
    list-style-type: none;
    list-style-position: inside;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

    .side-nav li {
        margin: 0 0 0.4375rem 0;
        font-size: 0.875rem;
    }

        .side-nav li a:not(.button) {
            display: block;
            color: #008cba;
        }

            .side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
                color: #1cc7ff;
            }

        .side-nav li.active > a:first-child:not(.button) {
            color: #1cc7ff;
            font-weight: normal;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        .side-nav li.divider {
            border-top: 1px solid;
            height: 0;
            padding: 0;
            list-style: none;
            border-top-color: white;
        }
